
body.view_normal{
	text-shadow: 0px 1px rgba(255, 255, 255, 0.9);
}
.clear{
	clear: both;
}
.giant{
	font-size: 54px;
	line-height: 1;
	margin-bottom: 10px;
	margin-top: 30px;
}
body{
	margin-top: 30px;
}
li.result:hover{
	background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#D3D6D7), to(#FFFFFF));
}
li.result.duckduckgo > div{
	background-image: url(duck.co.ico);
}
li.result.bing > div{
	background-image: url(bing.ico);
}
li.result.internal_search > div{
	background-image: url(favicon.png);
}
li.result.internal_search{
	background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#E7B2FF), to(#FFFFFF));
}
li.result.internal_search:hover{
	background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#E764FF), to(#FFFFFF));
}

li.result:hover, li.result.internal_search{
	border: 2px solid rgba(0, 0, 0, 0.1);
}
li.result{
	border: 2px solid #fff;
	border-radius: 15px 15px;
	padding: 5px;
}

li.result > div{
	padding-right: 30px;
	background-position: 99% center;
	background-repeat: no-repeat;
}
li.result div.internal{
	overflow-x: auto ! important;
	max-height: 300px;
}
li.result.special{
	border: 4px solid red;
	padding: 5px;
}
li.result.magic{
	border: 4px solid green;
	padding: 5px;
}
.window{
	width: 200px;
	height: 200px;
	overflow: scroll;
}
li.result.magic:after{
	content: "Magic!";
}
li.result.goodies{
	border: 4px solid purple;
	padding: 5px;
}
pre{
	font-family: monospace !important;
}
li.result.error{
	border: 3px solid red;
	padding: 4px;
}
li.result.goodies:after{
	content: "And the power of the goodies resides again! :D";
}
li.result.official:hover{
	background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFFEFF), to(#FFFF3D));
}
li.result.official{
	background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFFEB4), to(#FFFF3D));
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
li.result.official:after{
	content: "Official Site";
}
li.image {
	max-height: 230px;
	height: 230px !important;
	overflow: hidden;
}
li.image img{
	width: 200px;
	height: auto;
}
li.image .caption{
	max-width: 200px;
	height: 18px;
	overflow: hidden;
	word-wrap: break-word;
}
.center{
	text-align: center;
}
li.result.bing:last-of-type:after{
	content: "Powered by Bing!";
}
li.result.special  div.internal{
	overflow: scroll;
}
form{
	display: inline;
}
input.big{
	font-size: 35px;
	line-height: 1;
	height: auto !important;
	width: 300px;
}
.header{
	margin-top: 20px;
}
table{
	margin: 0px;
}
.image-holder{
	width: 200px;
	height: 200px;
	background: #333;
	text-align: center;
}
.autocomplete{
	cursor: pointer;
}
.autocomplete-w1{
	background: #fff;
	margin-top: -16px;	
	box-shadow: #333 0px 0px 5px;
}
.center{
	text-align: center;
}
.hide{
	display: none;
}
#home .widget{
	padding: 15px;
	width: 300px;
	margin: 0 auto;
}
